<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Access denied</title>

  <style type="text/css">
      body {
          "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
      }
  </style>

</head>

<body>

  <h1>Access Denied</h1>

  <p>Your IP address: {{ client_ip }}</p>

  <p>Unfortunately your IP address does not appear to come from a trusted network.</p>

  <p>If you require access please contact the DIT Webops team via email at <a href="email:{{ email }}">{{ email }}</a> and provide your IP address which is listed above.</p>

</body>
</html>
